@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
body{padding-top: 60px;background: #f9f9f9}
.pointer{cursor: pointer;}
.no-padding{padding: 0 !important;}
p,span,a,label,li,h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
}
.right{float: right;}
.center{text-align: center;}
.left{float: left;}
ul{list-style-type: none;}
/*********************************/
/* MAIN LAYOUT */
/*********************************/
.navbar.navbar, .navbar-default.navbar{
	background: #455A64;
}



/****************************/
/* AUTH */
/****************************/
.form-wrapper{
	background: #fff;
	border-radius: 10px;
	margin-top: 3%;
	padding: 25px;
}


/******************************/
/* ADDRESS BOOK LAYOUT */
/*****************************/
#addressBookSidebar{
	background: #727272;
	height: 1000px;
}
#addressBookHomeHeaderWrapper{
	padding: 10px;
	border-bottom: solid 1px #B6B6B6;
}
#addCredentialsWrapper{
	padding: 10px;
	background: #f6f6f6;
	border-radius: 10px;
}
#addCredentialGroupWrapper{
	padding: 10px;
	background: #f6f6f6;
}
.addressbook-company-info-wrapper{
	border-bottom: solid 2px #B6B6B6
}
.addressbook-company-info-title{
	padding: 2px 10px 10px 10px;
	cursor: pointer;
	background: #607D8B;
}
.addressbook-company-info-details{
	padding: 10px;
}
.addressbook-company-info-title h3{
	font-weight: 400;
	font-size: 18px;
	color: white;
}
.addressbook-company-info-title i{
	font-size: 18px;
	margin-top: -2%;
	margin-right: 5%;
	color: white;
}
.addressbook-company-detail-text, .addressbook-company-detail-text a{
	padding-left: 10px;
	color: #727272;
}
.addressbook-company-detail-text-second-line{
	padding-left: 28px;
	margin-top: 1px;
	color: #727272;
}
.addressbook-company-info-details i{
	font-size: 18px;
}
.addressbook-view-more-wrapper i{
	padding-left: 10px;
}
.company-primary-details-title{
	padding: 0 10px;
}
.company-employess-detail-info-wrapper{
	padding: 0 10px;
}
.company-primary-detials-info-wrapper .title{
	background: #607D8B;
	padding: 1px 10px 5px 10px;
}
.company-primary-detials-info-wrapper .info{
	background: #fff;
	padding: 10px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.company-primary-detials-info-wrapper .title h3{
	color: white;
}
.company-primary-detials-info-wrapper{
	margin: 20px 0;
}
.company-employess-detail-info-wrapper, .company-primary-details-title{
	border-bottom: solid 2px #B6B6B6;
}
.company-primary-details-wrapper{
	margin-bottom: 50px;
}
.company-employess-detail-info-wrapper button{
	margin-top: -2.6%;
    margin-right: 5%;
}
.go-bk-wrapper{
	font-size: 35px;
  	margin-left: 2%;
  	cursor: pointer;
}

.panel-header i{
	font-size: 18px;
	margin-top: -1.5%;
	color: #fff;
	margin-right: 3%;
}

/********************************/
/* PANEL */
/********************************/

.panel-wrapper{
	margin: 10px 20px 10px 10px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.panel-header{
	background: #607D8B;
 	padding: 15px;
}
.panel-title{
	color: #fff;
	font-size: 24px;
}
.panel-body{
	background: #fff;
	padding: 10px;
}